* {
    font-family: Bahnschrift, sans-serif;
    box-sizing: border-box;
}
.container {
    padding: 5px;
    width: 960px;
    margin: 0 auto;
    border: 1px solid #000000;
}
header {
    background-color: #0072ff;
    color: #ffffff;
    padding: 20px;
}
main {
    width: 700px;
    padding: 20px;
    float: left;
}
figure {
    border: 1px solid #000000;
    width: 200px;
    height: 200px;
    float: right;
    margin: 40px 0;
}
footer {
    clear: both;
    text-align:center;
    background-color: #ff0000;
    color: white;
}
figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width: 980px) {
    .container{
        width: 100%;
        padding: 0;
    }
    figure{
        width: 15%;
        padding: 20px;
    }
    main{
        width: 80%;

    }
    .container,figure{
        border: none;
    }
    body{
        margin: 0;
    }
}
@media screen and (max-width: 700px) {
    footer {
        display: none;
    }
    figure{
        width: 25%;
        padding: 0px;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}