* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#column-1 {
    background-color: #b2ddea;
}
#column-2 {
    background-color: #83b8c8;
}
#column-3 {
    background-color: #478598;
    color: white;
}
#column-4 {
    background-color: #1b4f5f;
    color: white;
}

section {
    width: 25%;
    padding: 20px;
}

@media screen and (max-width: 960px) {
    section {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    section {
        width: 100%;
    }
}