* {
    font-family: Garamond, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ccdddd;

}
header {
    border-bottom: black 3px solid;
    border-top: black 3px solid;
    text-align: center;
    margin: 15px 0;
}
header h1 {
    margin: 15px 0;
}
nav ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1; /* elk item neemt evenveel ruimte in */
    list-style: none;
    border: 4px solid black;
    text-align: center;
    display: flex; /* maakt het centreren van tekst mogelijk */
    align-items: center; /* verticaal centreren */
    justify-content: center; /* horizontaal centreren */
    box-sizing: border-box; /* borders tellen mee in de breedte */
    height: 60px; /* vaste hoogte, zodat de knoppen even groot blijven */
    font-weight: bold;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: #c2dfde;
}

nav ul li a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;     /* tekst verticaal centreren */
    justify-content: center; /* tekst horizontaal centreren */
}

nav ul li:nth-child(1) {
    border-color: red;
}
nav ul li:nth-child(2) {
    border-color: dodgerblue;
}
nav ul li:nth-child(3) {
    border-color: purple;
}
nav ul li:nth-child(4) {
    border-color: darkseagreen;
}
nav ul li:nth-child(5) {
    border-color: darkorange;
}
nav ul li:nth-child(6) {
    border-color: yellow;
}
nav ul li:nth-child(7) {
    border-color: deeppink;
}
nav ul li:nth-child(8) {
    border-color: grey;
}
article {
    width: 65%;
    margin: 50px 0;
}
article h2, article h3, article p {
    margin: 10px 0;
}
aside {
    width: 30%;
    margin: 50px 50px;
}
aside h3 {
    border: 4px solid red;
    padding: 4px;
    margin: 4px 0 4px 4px;
}
aside p {
    padding: 8px;
}
footer {
    margin: 25px 0;
    text-align: center;
}
article figure img{
    max-width: 100%;
}
#container{
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px
}
main{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1201px) {
    aside{
        order: 1;
    }
    article{
        order: 2;
    }
}
@media screen and (max-width: 1200px) {
    #container{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav ul li {
        flex: 1 1 25%;
    }
}

@media screen and (max-width: 800px) {
    main{
        flex-direction: column;
        display: flex;
    }
    aside {
        width: 100%;
    }
    article {
        width: 100%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav ul li {
        flex: 1 1 50%;
    }
}
@media screen and (max-width: 400px) {
    aside {
        display: none;
    }
    nav{
        display: none;
    }
}