.schoolbell-regular {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
}
*{
    box-sizing: border-box;
    font-family: "Segoe UI";
}
body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: #a6dbed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1{
    font-family: "Schoolbell", cursive;
}

header h1 span{
    color: #3385a6;
    font-family: "Schoolbell", cursive;
}
header p {
    color: #343A40;
    font-style: italic;
}

nav {
    display: flex;
    background-color: #353b40;
    justify-content: center;
    height: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-content: center;
}

nav ul li {
    flex: 0 0 8rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #dedede;
    color: black;
}


main{
    display: flex;
    flex-direction: row;
}
article{
    display: flex;
    flex-direction: column;
    width: 75%;
}
main h4{
    font-family: "Schoolbell", cursive;
}
aside{
    background-color: #f1f1f1;
    width: 25%;
    align-items: flex-start;
    flex-direction: column;

    display: flex;
}
img{
    width: 100%;
    height: auto;
}
aside h2{
    margin-top: 5rem;
    font-family: "Schoolbell", cursive;
}
aside span{
    font-weight: bold;
    font-style: normal;
}
aside address, aside h2{
    margin-left: 1rem;
}
footer{
    background-color: #353b40 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }

    nav {
        height: auto;
        align-items: stretch;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        background-color: #353b40;
        line-height: 8rem;
    }

    nav ul li a:hover {
        background-color: #dedede;
        color: black;
    }

    article,
    aside {
        width: 100%;
    }

    aside address {
        margin-bottom: 5rem;
    }
}
